// /////////////////////////
// @@ NODE PET
// ////////////////////////

.node__pet-panel {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: repeat(2, auto) 0rem;
  grid-row-gap: 2rem;
  grid-template-areas:
    "image image image"
    ". body ."
    ". . .";

  &__image {
    grid-area: image;

    img {
      display: block;
    }
  }

  &__body {
    margin-bottom: 2rem;

    grid-area: body;
    align-self: end;

    &-born-on {
      
    }
  }

  &-genealogy {
    padding-bottom: 2rem;

    a {
      color: $black_gunmetal;
      font-weight: 900;
    }
  }

  &__bcg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.showresults {

  &__paragraph {
    padding-bottom: 2rem;
  }
  
  &__title {
    text-align: center;
    padding-bottom: 2rem;
  }

  &__sub-title {
    font-weight: 900;
  }

  &__body {

  }

}
