// /////////////////////////
// @@ NODE PET
// ////////////////////////

.node__pet-panel {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: repeat(2, auto) 0rem;
  grid-row-gap: 2rem;
  grid-template-areas:
    "image image image"
    ". body ."
    ". . .";

  &__image {
    grid-area: image;

    img {
      display: block;
    }
  }

  &__body {
    margin-bottom: 2rem;

    grid-area: body;
    align-self: end;
  }

  &__bcg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}
