{# #}

<footer class="footer-wrapper">
        <div class="container">

            <div class="sub-footer">

                <div class="sub-footer__btn-contact">
                    <a href="#" class="btn btn--green u-align-center u-full-width">Contacteer mij</a>
                </div>

                <div class="sub-footer__contact-details">
                    Marleen Halleng
                    <br> marleenhalleng@gmail.com
                    <br> Tel: (+32) 497 239 743
                </div>

            </div>
            <!-- end sub-footer -->

            <div class="footer">
                Copyright © 2018 | BULLENSTEEG - Privacy Policy
            </div>

        </div>

</footer>