// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// COLORS
$green-main: #139A43;
$green-lighter: #16DB93;
$white_anti-flash: #EAF2EF;
$white: #FFFFFF;
$black_gunmetal: #2C363F;
$gray-spanish: #969A97;

