// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// COLORS
$green-main: #139A43;
$green-lighter: #16DB93;
$white_anti-flash: #EAF2EF;
$white_anti-flash--darker: #939B98;
$white: #FFFFFF;
$black_gunmetal: #2C363F;
$black_gunmetal--lighter: #354049;
$gray-spanish: #969A97;

// FONTS
$font-family: "Montserrat", sans-serif;
$font-family--heading: "Montserrat", sans-serif;
$base-font-size: 1.8rem;
$font-size-small: calc(#{$base-font-size} - .3rem);
$font-size-smaller: calc(#{$base-font-size} - .6rem);
$heading-first: 6rem;
$heading-second: 3.2rem;

$tw-bold: 900;
$tw-semi-bold: 700;
$tw-default: 400;

// PANELS
$panel-shadow: 0 4px 8px 0 rgba($black-gunmetal, 0.1), 0 6px 20px 0 rgba($black-gunmetal, 0.1);
$panal-shadow-more: 0 4px 8px 0 rgba($black-gunmetal, 0.5), 0 6px 20px 0 rgba($black-gunmetal, 0.1);
