{# 
 /**
 * include for navigation.html.twig
 * navigation region
 * 
 */
#}

<div class="header__menu">

  <div class="navigation">

    {% include directory ~ '/templates/navigation/menu-btn.html.twig' %}

    {% include directory ~ '/templates/navigation/nav--mobile.html.twig' %}

    {% include directory ~ '/templates/navigation/nav--desktop.html.twig' %}

  </div>
  
</div>