{# 
/**
 * @file
 * 
 */
#}

<footer class="footer-wrapper">
  <div class="container">

    <div class="sub-footer">

      <div class="sub-footer__btn-contact">
        {# <script>
          {% include directory ~ '/js/email_spam.js' %}   
        </script> #}
                       
        <noscript>{{ "Sorry, je hebt Javascript om mij te contacteren."|t }}</noscript>
      </div>

      {# Block region contact information - content type 'aboutme'  #}

      {{ page.contactinfo }}
      

    </div>
    <!-- end sub-footer -->

    <div class="footer">
      Copyright © {{ "now"|date("Y") }} | {{ site_name }} - <a href="#">Privacy Policy</a>
    </div>

  </div>

</footer>