{# 
/**
 * @file
 * 
 */
#}

<footer class="footer-wrapper">
  <div class="container">

    <div class="sub-footer">

      <div class="sub-footer__btn-contact">
        <div class="sub-footer__email">
          <script>mail("marleenhalleng","gmail",0,"","")</script>
        </div>
      </div>

      {# 
      /**
      * Block region contact information - content type 'aboutme'  
      * node--contact-info.html.twig
      #}

      {{ page.contactinfo }}
      
    </div>
    <!-- end sub-footer -->

    <div class="footer">
      Copyright © {{ "now"|date("Y") }} | {{ site_name }} - <a href="#">Privacy Policy</a>
    </div>

  </div>

</footer>