{#
/**
 * @file
 * Theme override for a field.
 *
 */
#}
{%
  set classes = [
    'parent__dad',
  ]
%}
{% for item in items %}
  <div{{ attributes.addClass(classes) }}>{{ item.content }}</div>
{% endfor %}
