// /////////////////////////
// @@ ABOUT US
// ////////////////////////

.aboutus {
  margin-bottom: 9rem;

  display: grid;
  grid-template-columns: 1fr;

  &__img {
    margin-bottom: 6rem;
  }

  &__text {
    width: 80vw;
    margin: 0 auto;

  }

  &__bcg {
    display: none;
  }
}