// /////////////////////////
// @@ FOOTER
// ////////////////////////

.footer-wrapper {
  background: $black_gunmetal;
  color: $white;
  // min-height: 3rem;
  padding: 3rem 0 1rem;
}

.sub-footer {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "btncontact"
    "contactdetails";

  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "btncontact contactdetails";
    grid-gap: 5rem;
  }

  &__btn-contact {
    grid-area: btncontact;
    margin-bottom: 3rem;

    @include respond(tablet) {
      margin-bottom: 0;
      align-self: center;
    }
    @include respond(desktop) {
      max-width: 50rem;
    }
  }

  &__contact-details {
    grid-area: contactdetails;

    line-height: 3rem;
  }

  &__name {
    margin-bottom: 2rem;

    @include respond(tablet) {
      margin-bottom: 0;
    }
  }

  &__phone {}
}

.footer {
  font-size: calc(#{$base-font-size} - 1rem);
}