// /////////////////////////
// @@ FOOTER
// ////////////////////////

.footer-wrapper {
  background: $black_gunmetal;
  color: $white;
  // min-height: 3rem;
  padding: 3rem 0 1rem;
}

.sub-footer {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  grid-template-areas: 
    "btncontact"
    "contactdetails";

  @include respond(desktop) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "btncontact contactdetails";
    grid-gap: 5rem;
  }

  &__btn-contact {
    grid-area: btncontact;
    margin-bottom: 3rem;

    @include respond(tablet) {
      margin-bottom: 0;
      align-self: center;
    }
    @include respond(desktop) {
      max-width: 50rem;
    }
  }

  &__contact-details {
    grid-area: contactdetails;

    line-height: 3rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
      "name"
      "phone"
      "social";

    @include respond(tablet) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
      "name social"
      "phone .";
    }
  }

  &__name {
    margin-bottom: 2rem;
    grid-area: name;

    @include respond(tablet) {
      margin-bottom: 0;
    }
  }

  &__phone {
    grid-area: phone;
  }

  &__social {
    grid-area: social;
    justify-self: end;

    padding: 2rem 0;
    font-size: 3rem;

    @include respond(tablet) {
      padding: 0;
    }
  }
}

.social-link {
  color: $white_anti-flash;
}

.footer {
  font-size: calc(#{$base-font-size} - 1rem);
  border-top: solid 1px $white_anti-flash--darker;
}