// //////////////////////////////
// @@ NAVIGATION MOBILE
// //////////////////////////////

.navigation {

  &__background {
    height: 1rem;
    width: 1rem;
    position: fixed;
    top: 0;
    right: -5rem;
    background: $black_gunmetal;
    z-index: 170;
    transition: transform 0.8s;
    // cubic-bezier(0.86, 0, 0.07, 1)
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 175;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
    // cubic-bezier(0.68, -0.55, 0.265, 1.55)

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto) 5rem;
    grid-template-areas:
      "nav-wrap"
      "nav-branding"
      "nav-footer";

    @include respond(tablet) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 5rem;
      grid-template-areas: 
        "nav-wrap nav-branding"
        "nav-footer nav-footer";
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(210);
    background: $black_gunmetal;
    height: 100vh;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    right: 0;
  }

  &__wrap {
    grid-area: nav-wrap;

    display: grid;
    grid-template-columns: 1fr;
    background: $black_gunmetal--lighter;

  }

  &__items {
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  //navigation.html.twig
  &__list {
    list-style: none;
  }

  &__item {
    
    &:not(:last-of-type) {
      margin-bottom: 2rem;    
    } 

    @include respond(tablet) {
      font-size: 2.5rem;

      &:not(:last-of-type) {
        margin-bottom: 3rem;
        }
    }   

  }

  &__link {
    color: $white_anti-flash;
    transition: color 0.3s;

    &:hover,
    &:active {
      color: $green-main;
    }

    &::before {
      counter-increment: link__counter;
      content: counters(link__counter, "", decimal-leading-zero);
      position: absolute;
      font-size: .8rem;
      top: -.5rem;
      left: -1.8rem;
      color: $white_anti-flash--darker;
    }
  }

  &__branding {
    margin: 0 auto;    
    grid-area: nav-branding;

    display: grid;
    grid-template-columns: minmax(20vw, 25vw) 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
      "site-avatar site-name"
      "site-slogan site-slogan";
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;

    @include respond(tablet) {
      grid-template-columns: 50vw;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 0;
      grid-row-gap: 2rem;
      grid-template-areas: 
        "site-avatar"
        "site-name"
        "site-slogan";
    }
  }

  &__site-avatar {
    grid-area: site-avatar;

    img {
      border-radius: 50%;
    }

    @include respond(tablet) {
      align-self: end;      
    }
  }

  &__site-name {
    text-transform: uppercase;
    grid-area: site-name;

    @include respond(tablet) {
      align-self: start;
    }
  }

  &__site-slogan {
    grid-area: site-slogan;
    font-size: 1rem;
  }

  &__footer {
    font-size: calc(#{$base-font-size} - 0.8rem);
    position: relative;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    grid-area: nav-footer;
    align-self: center;

    @include respond(tablet) {
      width: 100vw;
      margin: 0;
    }

    &::after {
      content: "";
      width: 100%;
      border-bottom: solid 1px $green-main;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;

      @include respond(tablet) {
        width: 90%;
        left: 5%;
      }
    }

    &-link {
      position: relative;
      background: $black_gunmetal;
      padding: 0 1rem;
      z-index: 3;
    }
  }
}