// /////////////////////////
// @@ TEVEN
// ////////////////////////

.our-pets {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3rem auto;
  grid-template-areas: 
    "teven"
    "."
    "reuen";

  @include respond(desktop) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "teven reuen";
  }

  &__teven {
    grid-area: teven;

  }

  &__reuen {
    grid-area: reuen;

  }
}
