// /////////////////////////
// @@ PUPS EXPECTED
// ////////////////////////

.pups-expected {

  &__title {
    margin: 3rem 0 5rem;
    font-size: calc(#{$base-font-size} + 3.2rem);
    line-height: 5rem;
  }

  &__teaser-content {
    display: none;

    @include respond(desktop) {
      display: block;
    }
  }

}

