// /////////////////////////
// @@ BUTTONS
// ////////////////////////

.btn {
  padding: 2rem 3rem;
  display: inline-block;

  &--green {
    background: $green-lighter;
    color: white;
  }

  &--more-padding {
    @include respond(desktop) {
      padding: 2rem 8rem;
    }
  }

}