// /////////////////////////
// @@ CONTACT DETAILS
// ////////////////////////

.contact-details {
  padding: 4rem;
  line-height: 3rem;

  &--green {
    background: $green-lighter;
  }

  &--full-width {
    width: 100%;
  }
  
}