// //////////////////////////////
// @@ MENU BUTTON HAMBURGER
// //////////////////////////////
.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: transparent;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 190;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 1rem;
    width: 1rem;
    position: fixed;
    top: 0;
    right: -5rem;
    background: $black_gunmetal;
    z-index: 170;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 175;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    display: grid;

    // grid-template-columns: 1fr;
    // grid-template-rows: 65vh 5rem;
    // grid-template-areas: 
    // "nav-items"
    // "nav-sitename";

    grid-template: 
      "nav-items" 65vh
      "nav-sitename" 5rem / 1fr;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(150);
    background: $black_gunmetal;
    height: 100vh;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top:  0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;

}

  &__items {
    grid-area: nav-items;
    width: 50vw;
    margin: 0 auto;

    display: flex;
    align-items: center;
  }

  &__site-name {
    text-transform: uppercase;
    grid-area: nav-sitename;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //menu--main.html.twig
  &__list {
      list-style: none;
      
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  &__link {
    color: $white_anti-flash;
    transition: color .3s;

    &:hover {
      color: $green-main;
    }
  }

  &__icon {
    position: relative;
    transform: translateY(2.5rem);
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $white;
      display: inline-block;
      transition: all .3s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -.8rem;
    }
    &::after {
      top: .8rem;
    }
  }
}
