// //////////////////////////////
// @@ MENU BUTTON HAMBURGER
// //////////////////////////////
.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $green-main;
    height: 6rem;
    width: 7rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 190;
    text-align: center;
    cursor: pointer;
    transition: all 1.5s;

    @include respond(desktop) {
      display: none;
    }
  }

  &__background {
    height: 1rem;
    width: 1rem;
    position: fixed;
    top: 0;
    right: -5rem;
    background: $black_gunmetal;
    z-index: 170;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 175;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto) 5rem;
    grid-template-areas:
      "nav-items"
      "nav-branding"
      "nav-footer";

    @include respond(phone) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 5rem;
      grid-template-areas: 
        "nav-items nav-branding"
        "nav-footer nav-footer";
    }
  }

  &__branding {
    width: 90vw;
    margin: 0 auto;
    
    grid-area: nav-branding;

    display: grid;
    grid-template-columns: minmax(20vw, 25vw) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "site-avatar site-name";
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;

    @include respond(phone) {
      grid-template-columns: 50vw;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
        "site-avatar"
        "site-name";
    }
  }

  &__footer {
    font-size: calc(#{$base-font-size} - 0.8rem);
    position: relative;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    grid-area: nav-footer;
    align-self: center;

    @include respond(phone) {
      width: 100vw;
      margin: 0;
    }

    &::after {
      content: "";
      width: 100%;
      border-bottom: solid 1px $green-main;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;

      @include respond(phone) {
        width: 90%;
        left: 5%;
      }
    }

    &-link {
      position: relative;
      background: $black_gunmetal;
      padding: 0 1rem;
      z-index: 3;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(210);
    background: $black_gunmetal;
    height: 100vh;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    right: 0;
  }

  &__checkbox:checked + &__button {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

  &__items {
    grid-area: nav-items;
    width: 50vw;
    margin: 0 auto;

    display: flex;
    align-items: center;

    @include respond(phone) {
      justify-content: center;
    }
  }

  &__site-name {
    text-transform: uppercase;
    grid-area: site-name;
  }

  &__site-avatar {
    grid-area: site-avatar;
    img {
      border-radius: 50%;
    }

    @include respond(phone) {
      width: 45%;
    }
  }

  //menu--main.html.twig
  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  &__link {
    color: $white_anti-flash;
    transition: color 0.3s;

    &:hover {
      color: $green-main;
    }
  }

  &__icon {
    position: relative;
    transform: translateY(2.5rem);
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $white;
      display: inline-block;
      transition: all 0.3s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
}
