<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet">
        <link rel="stylesheet" href="../dist/css/styles.css">
        <title>De Bullensteeg</title>
    </head>

    <body>

        <header class="header header--page">

            <div class="container">

                <div class="header__top">

                    <div class="site__name heading">
                        De Bullensteeg
                    </div>

                    <div class="header__menu">
                        <div class="navigation">
                            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

                            <label for="navi-toggle" class="navigation__button">
                                <span class="navigation__icon">&nbsp;</span>
                            </label>

                            <div class="navigation__background"></div>

                            <!-- In Drupal main-menu -->
                            <nav class="navigation__nav">
                                <div class="navigation__items">
                                    <ul class="navigation__list">
                                        <li class="navigation__item">
                                            <a href="index.html" class="navigation__link">Home</a>
                                        </li>
                                        <li class="navigation__item">
                                            <a href="#" class="navigation__link">Teven</a>
                                        </li>
                                        <li class="navigation__item">
                                            <a href="#" class="navigation__link">Reuen</a>
                                        </li>
                                        <li class="navigation__item">
                                            <a href="#" class="navigation__link">Pups</a>
                                        </li>
                                        <li class="navigation__item">
                                            <a href="#" class="navigation__link">Foto's</a>
                                        </li>
                                        <li class="navigation__item">
                                            <a href="#" class="navigation__link">Nieuws</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="navigation__branding">
                                    <div class="navigation__site-avatar">
                                        <img src="../images/for_html/marleen.jpg" alt="">
                                    </div>
                                    <div class="navigation__site-name">
                                        De Bullensteeg
                                    </div>
                                </div>

                                <div class="navigation__footer">
                                    <a href="#" class="navigation__footer-link">Privacy</a>
                                </div>

                            </nav>

                            <!-- in Drupal footer-menu -->
                            <nav class="navigation__nav--desktop">
                                <div class="navigation__items--desktop">
                                    <ul class="navigation__list">
                                        <li class="navigation__item--desktop">
                                            <a href="index.html" class="navigation__link--desktop">Home</a>
                                        </li>
                                        <li class="navigation__item--desktop">
                                            <a href="#" class="navigation__link--desktop">Teven</a>
                                        </li>
                                        <li class="navigation__item--desktop">
                                            <a href="#" class="navigation__link--desktop">Reuen</a>
                                        </li>
                                        <li class="navigation__item--desktop">
                                            <a href="#" class="navigation__link--desktop">Pups</a>
                                        </li>
                                        <li class="navigation__item--desktop">
                                            <a href="#" class="navigation__link--desktop">Foto's</a>
                                        </li>
                                        <li class="navigation__item--desktop">
                                            <a href="#" class="navigation__link--desktop">Nieuws</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>

                        </div>
                        <!-- end navigation -->
                    </div>

                </div>

            </div>

        </header>

        <!-- Page for teven and reuen in Drupal inhoudstype pets met filter -->

        <div class="container">

            <div class="our-pets__container">

                <div class="node__pet-panel">

                    <div class="node__pet-panel__image">
                        <img src="../images/for_html/teef-izora.jpg" alt="">
                    </div>

                    <div class="node__pet-panel__body">
                        <div class="pet-panel__body-name">
                            Izora d'allegra Nobile
                        </div>
                        <div class="pet-panel__body-born-on">
                            Geboren 02/03/2009
                        </div>
                        <div class="showresults">
                            <div class="showresults__title heading-third heading">
                                Showresultaten
                            </div>
                            <div class="showresults__sub-title">
                                Kampioensclubmatch Hbc - 7 april 2013
                            </div>
                            <div class="showresults__body">
                              Puppy klasse. Veel belovend, keurmeester van Raamsdonk V.A. (Be)
                            </div>
                        </div>

                    </div>

                    <div class="node__pet-panel__bcg bcg"></div>
                </div>
                <!-- </div> end pet-panel -->
            </div>

        </div>

        <footer class="footer-wrapper">
            <div class="container">

                <div class="sub-footer">

                    <div class="sub-footer__btn-contact">
                        <a href="#" class="btn btn--green u-align-center u-full-width">Contacteer mij</a>
                    </div>

                    <div class="sub-footer__contact-details">
                        Marleen Halleng
                        <br>
                        marleenhalleng@gmail.com
                        <br>
                        Tel: (+32) 497 239 743
                    </div>

                </div>
                <!-- end sub-footer -->

                <div class="footer">
                    Copyright © 2018 | BULLENSTEEG - Privacy Policy
                </div>

            </div>

        </footer>

    </body>

</html>