// /////////////////////////
// @@ UTILITIES
// ////////////////////////

.u-align-center {
  text-align: center;
}

.u-flex-align-right {
  align-self: flex-end;
}

.u-margin-top {
  margin-top: 2rem;
}

.u-negative-margin-top {
  margin-top: -3rem;
}

.u-margin-bottom {
  margin-bottom: 2rem;
}

.u-full-width {
  width: 100%;
}